.home-page-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100vh;

    .main-content {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        height: 100vh;
        margin-top: 5rem;
    }

    .highlights {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        height: 100vh;
        margin-top: 5rem;
    }

    
    app-profile {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 100vh;
        margin-top: 5rem;
    }
    app-navbar {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
}
